@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
  background-image: linear-gradient(orange, purple);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  margin-bottom: 18px;
}

ul,
ol,
li {
  margin: 0;
}

hr {
  margin: 25px;
}

#header-info {
  width: 100%;
}

#header-info-logo {
  display: flex;
  justify-content: center;
}

#header-info-title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#header-info-tab {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#header-info-tab-1 {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

#main-section-1 {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#main-section-1 div {
  margin-top: 5px;
  margin-bottom: 5px;
}

#main-section-2 {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
#main-section-2 div {
  margin-top: 5px;
  margin-bottom: 5px;
}

#CSS-chart {
  width: 100%;
}

#CSS-chart-table {
  text-align: center;
  width: 650px;
  margin: 50px auto;
  border-style: solid;
}

#main-section-3 {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#video-content {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

#newsletter-banner {
  margin-top: 5px;
  margin-bottom: 5px;
}

#main-section-4 {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#main-section-4 div {
  margin-top: 5px;
  margin-bottom: 5px;
}

#copyrights-info {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
